# App
APP_NAME=ml-mcp-backend
LOG_LEVEL=INFO

SECRETS_BACKEND=env

# PostgreSQL database
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_PASSWORD_FILE=
POSTGRES_DB=mcp_backend
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
DATABASE_URL=postgresql+psycopg2://postgres:postgres@localhost:5432/mcp_backend
DATABASE_URL_FILE=

# Mongo database
MONGO_URI=mongodb://localhost:27017
MONGO_URI_FILE=

# Redis
REDIS_URL=redis://localhost:6379
REDIS_URL_FILE=

# Auth services
JWT_SECRET_KEY=
JWT_SECRET_KEY_FILE=
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30

# LLM API keys
OPENAI_API_KEY=
OPENAI_API_KEY_FILE=
GOOGLE_API_KEY=
GOOGLE_API_KEY_FILE=
CLARIN_API_KEY=
CLARIN_API_KEY_FILE=
